html{
    font-size:100%;
}

body{
    background-image: url(../img/japanese-paper_00183.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
}

.greeting{
    display:flex;
    justify-content: space-between;
    padding-top:25px;
}

article{
    width:70%;
}

aside{
    width:20%;
}


.nav-link{
    color:#BA0C0C;
    font-size: large;
     font-weight: 900;
 
 }

 .headtitle{
    padding-top: 60px;
    text-align: center;
    color: #BA0C0C;
}